footer{
    background-color: rgba(112, 148, 148, 0.349);
    margin-top: 10px;
}
body{
    margin: 0;
}
footer .footeradress address{
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerlist ul{
    justify-content: space-around;
}
.footerlist ul li{
    list-style: none;
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}
.footerlist ul li a{
    text-decoration: none;
    color: black;
  text-transform: capitalize;
}
.footerlist ul li a:hover{
    color: #ff5e14;
}
.icon{
    text-align: center;
}
.icon a{
    margin: 0  15px;
}
h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 0px;
}








.head-item {
    border: 2px solid black;

    background-color: rgba(0, 0, 0, 0.158);
    height: 110px;
}

.head-item h2 {
    text-align: center;
    transform: scale(1.5);
}

.head-item h5 {
    font-size: 10px;
    right: 50px;
    position: absolute;
    top: 40px;
}













.nav-bar {
    /* height: 50px; */
    position: sticky;
    width: 100%;
    align-items: center;
    background-color: #333;
    
}
.nav-bar nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar nav a {
    padding: 14px 16px;
    color: #fff;
    position: relative;
    
    text-decoration: none;
    align-items: center;
}.nav-bar nav a:hover{
    color:brown;
    text-decoration: underline;
    background-color: #ddd;
}
















.right-side {
    top: 80px;
    right: -250px;
    position: relative;
    display: inline;
}

.right-side a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 20px;
    color: black;
    transition: 0.5s;
}

.right-side a:hover {
    background-color: black;
    color: white
}